@page
@model StudentApp.Pages.Students.IndexModel
@{
}

<div class="row">
    <div class="col-12 text-right">
        <a class="btn btn-primary m-4" asp-page="/Students/CreateOrUpdate">Add </a>
    </div>
    <div class="col-12">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Class Name</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Students)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.ClassName</td>
                        <td>@item.Gender</td>
                        <td>
                 
                            <a class="nav-link text-dark" href="/Students/CreateOrUpdate?id=@item.Id">Edit </a>
                            <a class="nav-link text-dark" href="/Students/Delete?id=@item.Id">Delete </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
